        body{
    margin: 0
}
h1 {
    text-align: center;
}
.photo1 {
    display: block;
    margin: auto;
  }
h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
p {
    text-align: left;
    margin-left: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 30px;
}
.photo2 {
     margin-top: 0px;
     margin-right: 0px;
}
.phon-nam {
    margin-right: 0px;
}
h3 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h4 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-block-start: 0em;
    margin-block-end: 0em; 
}
ul {
    text-align: left;
    margin-left: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 30px;
}

.block-left{width:30%;height:1200px;overflow:auto; background:gray; float:left;}
.block-right{width:70%;height:1200px;overflow:auto; }
.summary {
    text-align: center;  
    width: 80%;          
    margin: 0 auto;    
    overflow: hidden;  
}
.summary span {
    position: relative;
    font-size: 50px
}
.summary span:before {
    display: block;                  
    width:1000px;                    
    content: '';                   
    position: absolute;              
    border-bottom: 1px solid #000;   
    top:50%;                        
    right: 210px;                    
}
.summary span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #000;
    top:50%;
    left: 210px; 
}