body{
    margin: 0
}
h2 {
    text-align: center;
}
.photo1 {
    display: block;
    margin: auto;
  }
.block-left{width:30%;height:1200px;overflow:auto; background:gray; float:left;}
.block-right{width:70%;height:1200px;overflow:auto; }